In [ ]:
text = "Hhello"

In [28]:
shift = 3
for char in text:
    if char.isalpha():
        
        if char.isupper():
            print(chr((ord(char) - ord('A') + shift) % 26 + ord('A')))

        if char.islower():
            print(chr((ord(char) - ord('a') + shift) % 26 + ord('a')))

K
h
o
o
r

In [40]:
text = "Hello, Python!"

In [56]:
astronauts_data = "Buzz Aldrin, 1930;Yuri Gagarin, 1934;Valentina Tereshkova, 1937"

# Splitting the string into a list of astronaut info and stripping any whitespace
astronauts_list = astronauts_data.split(";")
cleaned_astronauts = []

for astronaut in astronauts_list:
    name, year = astronaut.split(",")
    cleaned_astronauts.append(name.strip() + " " + year.strip())  # Modify this line to use the join() method

print(cleaned_astronauts)  # ['Buzz Aldrin 1930', 'Yuri Gagarin 1934', 'Valentina Tereshkova 1937']

['Buzz Aldrin 1930', 'Yuri Gagarin 1934', 'Valentina Tereshkova 1937']

In [119]:

# A list of employee data
employee_data = "Name: John Doe, Age: 30, Role: Engineer"

employee_info = employee_data.split()

# Use strip to clean data and join to create a string with newlines
cleaned_data = "\n".join(info.strip() for info in ' '.join(employee_info).split(","))

print(cleaned_data)

Name: John Doe
Age: 30
Role: Engineer

In [122]:
employee_info

['Name:', 'John', 'Doe,', 'Age:', '30,', 'Role:', 'Engineer']

In [121]:
' '.join(employee_info).split(",")

['Name: John Doe', ' Age: 30', ' Role: Engineer']

In [123]:
employee_data = "Alice,Developer,30|Bob,Manager,45|Charlie,Designer,25"
# Splitting the employee data by '|' to separate each employee's info
employee_list = employee_data.split('|')

In [128]:
for employee in employee_list:
    print(employee.split(",")[0])

Alice
Bob
Charlie

In [129]:
astronaut_data = "    Neil-Mars; Buzz-Jupiter; Sally-Venus    "

In [135]:
for text in astronaut_data.strip().split(";"):
    print(text.split("-"))

['Neil', 'Mars']
[' Buzz', 'Jupiter']
[' Sally', 'Venus']

In [136]:
crew_data = "Neil,Armstrong,Apollo 11,C;Buzz,Aldrin,Apollo 11,P;Michael,Collins,Apollo 11,CM"

In [145]:
for text in crew_data.strip().split(";"):
    print(' '.join(text.split(",")))

Neil Armstrong Apollo 11 C
Buzz Aldrin Apollo 11 P
Michael Collins Apollo 11 CM

In [148]:
from math import sqrt

In [163]:
sqrt(1*5), sqrt(2*4), sqrt(3*3)

(2.23606797749979, 2.8284271247461903, 3.0)

In [234]:
numbers = [1, 2, 3, 9,10, 15, 30, 42,89, 99 ,100,452, 500]

In [186]:
numbers

[1, 2, 3, 4, 5]

In [187]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [248]:
def solution(numbers):
    solutions = []
    for num in numbers:
        if num < 10:
            continue
        
        if (num % 10) != 0:
            
            use_this = str(num)[::-1]
            solutions.append((num, int(use_this)))

    return solutions

In [246]:
def f(input):
    solutions = []
    for num in numbers:
        if num < 10:
            solutions.append((num, num))
        
        else:
            print(str(num)[::-1])
            print(f"First num {str(num)[0]} | Second num: {str(num)[1]}")
            print(f"Reversing -> First num: {str(num)[::-1][0]} | Second num: {str(num)[::-1][1]}")

            use_this = str(num)[0] if num % 10 == 0 else str(num)[::-1]

            print(f"Changed: {use_this}")
            solutions.append((num, use_this))

    return solutions

In [251]:
10 % 10 != 0

False